In [1]:
import pandas as pd

In [2]:
NFLX_df = pd.read_csv('NFLX.csv')

In [3]:
NFLX_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-01,7.931428,9.224286,6.931428,8.892858,8.892858,324109100
1,2010-02-01,8.830000,9.614285,8.468572,9.435715,9.435715,214988200
2,2010-03-01,9.431429,10.807143,9.374286,10.534286,10.534286,190620500
3,2010-04-01,10.517143,15.671429,10.517143,14.128572,14.128572,482079500
4,2010-05-01,14.280000,17.071428,12.857142,15.878572,15.878572,533838900

In [4]:
NFLX_df = NFLX_df.rename(columns = {'Adj Close': 'NFLX'})
NFLX_df.head()

,Date,Open,High,Low,Close,NFLX,Volume
0,2010-01-01,7.931428,9.224286,6.931428,8.892858,8.892858,324109100
1,2010-02-01,8.830000,9.614285,8.468572,9.435715,9.435715,214988200
2,2010-03-01,9.431429,10.807143,9.374286,10.534286,10.534286,190620500
3,2010-04-01,10.517143,15.671429,10.517143,14.128572,14.128572,482079500
4,2010-05-01,14.280000,17.071428,12.857142,15.878572,15.878572,533838900

In [5]:
NFLX_clean = NFLX_df[['Date','NFLX']]
NFLX_clean.head()

         Date       NFLX
0  2010-01-01   8.892858
1  2010-02-01   9.435715
2  2010-03-01  10.534286
3  2010-04-01  14.128572
4  2010-05-01  15.878572

In [6]:
len(NFLX_clean)

120

In [7]:
len(NFLX_clean.dropna())

120