In [9]:
import pandas as pd

In [10]:
jnj_df = pd.read_csv("JNJ.csv")
ko_df = pd.read_csv("KO.csv")
mcd_df = pd.read_csv("MCD.csv")
pfe_df = pd.read_csv("PFE.csv")
sbux_df = pd.read_csv("SBUX.csv")

In [11]:
jnj_df = jnj_df.rename(columns = {'Adj Close': 'JNJ'})
ko_df = ko_df.rename(columns = {'Adj Close': 'KO'})
mcd_df = mcd_df.rename(columns = {'Adj Close': 'MCD'})
pfe_df = pfe_df.rename(columns = {'Adj Close': 'PFE'})
sbux_df = sbux_df.rename(columns = {'Adj Close': 'SBUX'})

In [12]:
jnj_clean_df = jnj_df[['Date','JNJ']]
ko_clean_df = ko_df[['Date','KO']]
mcd_clean_df = mcd_df[['Date','MCD']]
pfe_clean_df = pfe_df[['Date','PFE']]
sbux_clean_df = sbux_df[['Date','SBUX']]

In [13]:
irina_merged_df1 = pd.merge(jnj_clean_df,ko_clean_df, on="Date")
irina_merged_df1.head()

         Date        JNJ         KO
0  2010-01-01  45.894260  18.183428
1  2010-02-01  45.996483  17.670601
2  2010-03-01  47.966923  18.434809
3  2010-04-01  47.304802  18.210958
4  2010-05-01  42.890663  17.512501

In [14]:
irina_merged_df2 = pd.merge(mcd_clean_df,pfe_clean_df, on="Date")
irina_merged_df2.head()

         Date        MCD        PFE
0  2010-01-01  45.350845  12.654274
1  2010-02-01  46.382374  11.901525
2  2010-03-01  48.879177  11.740099
3  2010-04-01  51.714325  11.445740
4  2010-05-01  48.989056  10.425756

In [15]:
irina_merged_df3 = pd.merge(irina_merged_df1,irina_merged_df2, on="Date")
irina_merged_df3.head()

         Date        JNJ         KO        MCD        PFE
0  2010-01-01  45.894260  18.183428  45.350845  12.654274
1  2010-02-01  45.996483  17.670601  46.382374  11.901525
2  2010-03-01  47.966923  18.434809  48.879177  11.740099
3  2010-04-01  47.304802  18.210958  51.714325  11.445740
4  2010-05-01  42.890663  17.512501  48.989056  10.425756

In [16]:
irina_finalmerged_df = pd.merge(irina_merged_df3,sbux_clean_df, on="Date")
irina_finalmerged_df.head()

         Date        JNJ         KO        MCD        PFE       SBUX
0  2010-01-01  45.894260  18.183428  45.350845  12.654274   9.198994
1  2010-02-01  45.996483  17.670601  46.382374  11.901525   9.671817
2  2010-03-01  47.966923  18.434809  48.879177  11.740099  10.245962
3  2010-04-01  47.304802  18.210958  51.714325  11.445740  10.967866
4  2010-05-01  42.890663  17.512501  48.989056  10.425756  10.975145

In [17]:
irina_finalmerged_df.to_csv('Irina_dataclean.csv', encoding="utf-8", index=False)